body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background : rgb(247, 165, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1{
    color: rgb(4, 57, 98);
font-size: 35px;
}

.bouton{
    background: rgb(172, 84, 178);
    font-size: 15px;
}
.input{

max-width: 800px;
border: none;
border-radius: 5px;
margin-bottom:10px ;
height: 50px;
}




/* *{
    margin:0px ; 
    padding: 0px;
 }
 header{
     background-position:center;
     height:100vh ;
     width:100% ;
     background:url(image-header.jpg)95%;
     background-size: cover;
 }
 h1{
    padding-right:10px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     padding-top: 70%;
    
 }
 .keren{
    text-align: center;
 }
.fleche{
    padding-top: 95px;
}
 .blanc{
     box-sizing:11px ;
     border-radius:1px ;
     
     }
 h2{
     padding-block-end: 50px;
     padding-left: 100px;
     padding-top: 70px;
     font-size: 50px;
     }
 h3{
     padding-block-end:60px ;
     padding-left: 100px;
     padding-top: 70px;
     font-size: 50px;
     color: black;
 }
 h4{
     text-align: center;
     padding-top: 50px;
     font-size: 20px;
 }
 h5{
     text-align: center;
     padding-top: 50px;
     font-size: 20px;
 }
.insert{
     padding: 20px; 
 }
.block{
     position: absolute;
 }
.top{
     width:80px ;
     display:flex ;
     justify-content:center;
     padding-left: 20%;
 }
.Navigation{
     display: flex;
     align-items:center ;
     align-content: center;
     justify-content: space-between;
     nav-right:40%;
     padding-left: 10vh;
     font-weight: bold;
     padding-bottom:10% ;
 }
.logo{
    padding-right: 45vh;
    font-weight: 30%;
 }
.Navigation a{
     text-decoration: none;
     margin-left:20px ;
     color: white;
     nav-right: 110%;
     padding-bottom:10% ;

 }
 div.conteneur{
     margin: 10px;
     width: 200px;
     height: 100px; 
 }
.position{
     position:absolute;
     left: 50%;
     height: 760px;
 }
 #image_fleche{
     position: absolute;
     top: 200px;
     left: 900px;
 }
.grid1{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
 }
.colone1{
     grid-column-start:1;
     grid-column-end:2 ;
     grid-row-start:1 ;
     grid-row-end:2;
 }
 /* .grid2{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(1,1fr);
 } */
 
/* .centre{
    padding-block-end:50px ;
    padding-left: 100px;
    padding-top: 70px;
    font-size: 21px;
    }
.laen{
        padding-block-end: 50px;
        padding-left: 100px;
        padding-top: 100px;
        font-weight: bold;
        font-size:20px ;
        color: black;
    }
.souligne1{
color: rgb(245, 172, 1);
    }
.colone2{
        grid-column-start:2;
        grid-column-end:3 ;
        grid-row-start:1 ;
        grid-row-end:2;
    } 
.taille1{
        width:100% ;
    }
.colone3{
        grid-column-start: 1;
        grid-column-end:2; 
        grid-row-start:2 ;
        grid-row-end:3 ; 
    }
.taille2{
        width: 100%;
    }
.colone4{
    padding-block-end: 50px;
    padding-left: 100px;
    font-weight: bold;
    font-size:20px ;
}
.centre4{
        padding-block-end:50px ;
        padding-left: 100px;
        padding-top: 70px;
        font-size: 21px;
    }

.tolean{
        padding-block-end: 50px;
        padding-left: 100px;
        padding-top: 100px;
        font-weight: bold;
        font-size:20px ;
        color: black;
    }
.souligne2{
    color: rgb(208, 27, 27);
}
.colone4{

    }
.colone5{
    background: url(image-graphic-design.jpg);
    background-size:cover ;
    grid-column-start: 1;
    grid-column-end:2;
    padding-left:10% ;
    grid-row-start:3 ;
    grid-row-end:4; 
    } 
.titre1{
    font-weight: 30%;
   padding-top:250px;
   color: rgb(5, 51, 16);
   pad
    }
.ecriture{
    height: 40vh;
    padding-top: 60px;
    text-align: center;
    }
 .colone6{
    background:url(image-photography.jpg) ;
    background-size: cover;
    grid-column-start:1 ;
    grid-column-end:2 ;
 }
.titre2{
   padding-top:250px;
   text-align: center;
   color: rgb(0, 0, 29);
   }
.ecrit{
    height: 40vh;
    padding-top:60px;
}
h6{
    font-size: 25px;
    text-align: center;
    color: rgb(210, 204, 204);
    padding-bottom: 100px;
    padding-top: 100px;
}
.grid3{
    display: flex;
    gap: 30px; 
    flex-direction: row;
    
}
h3{
    color: rgb(32, 93, 121);
}
.inser{
    padding:5%;
    text-align: center;
 }
 .rondel{
    border-radius: 50%;

}
.textEmily{
    text-align: center;
    font-size: 20px;
}
.gras{
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
 }
.color{
    color: rgb(174, 170, 170);
    text-align: center;
}
.insert{
    padding: 5%; 
    text-align: center;
}
.rond{
    border-radius:60% ;
}
.textThomas{
   text-align: center;
   font-size: 20px;
}
.gros{
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}
.couleur{
    color: rgb(173, 167, 167);
    text-align: center;
    padding-bottom: 5%;
}
.inserer{
    padding: 5%;
    text-align: center;
 }
 .rondeur{
    border-radius:50% ;
}
.textJennie{
    text-align: center;
    font-size: 20px;
}
.gross{
    font-weight:bold;
    padding-top:30px ;
    text-align: center;
 }
 .culeur{
    color: rgb(169, 163, 163);
    text-align: center;
 }
.gird_new{
    display: flex;
    flex: repeat(4, fr);
    grid-template-rows: 1fr 
    }
.ordre1{
    C
    height:65vh ;
    width:25%;
    }
.ordre2{
    height:65vh ;
    width:25% ;
    grid-column-start: 2;
    grid-column-end: 3
       
    }
.ordre3{
    height:65vh ;
    width: 25%;
    grid-column-start:3 ;
    grid-column-end: 4
        
    }
.ordre4{
    height:65vh ;
    width: 25%;
    grid-column-start:4 ;
    grid-column-end: 5;
    }
.vert{
    background-color:rgb(144, 212, 197);
    grid-column-start:1;
    grid-column-end:7;
    padding-top:20% ;
     }
.centraliser{
        display:grid;
        align-content: center;
        height: 35px;
        justify-content: center;
        padding-left:50% ;
        padding-top:10vh;
        color: rgb(60, 241, 199);
    }
.fin{
        color: rgb(15, 118, 121);
        display: flex;
        padding-top:20px;
        padding-right: 5vh;
        gap: 20px;
        position: absolute;
        left: 50%;
        font-weight: bold;
        height: 30px;
        
        
    }
.colone6{
     grid-column-start:2;
     grid-column-end:3;
 }  
 .bas{
    margin-left: 50%;
    padding-top: 15%;
    color: rgb(54, 137, 140);
    padding-left: 3%;
    padding-bottom:5% ;
    gap: 20vh;
} */
  */
 /* 
  */
 /*  */
 /* }
 
 .hft{
     background-color: rgb(223, 11, 11);
     width:500px ;
     height: 600px;
 }
 
 
  */